In [1]:
import os 
import pandas as pd

In [2]:
# Dosyaların Okunması İşlemi Yapıldı.
folderpath = r"C:\Users\ASUS\Desktop\metin_madenciligi_ara_sinav\metinler"
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]
all_files=[]

for path in filepaths:
    with open(path, 'r') as f:
        file = f.read()
        all_files.append([file])

In [3]:
# Dosya adları alındı.
dosya_adi = os.listdir(r"C:\Users\ASUS\Desktop\metin_madenciligi_ara_sinav\metinler")

In [4]:
train_d = pd.DataFrame(all_files,columns=["Metinler"])

In [5]:
train_d["Dosya_adi"] = dosya_adi

In [6]:
train_d

                                              Metinler Dosya_adi
0    Bugün okulun 3. haftası başladı. Sonunda sınıf...     1.txt
1    Merhabalar, şu an çırağan'ın efsane tayfasının...    10.txt
2    Istanbul’un altini üstüne getirdik diyebilirim...   100.txt
3    hey hey!!!! o kadar mutluyum ki. sınavlarım bi...   101.txt
4    29 Ocak 2007 günü ilk yazımın yayınlandığı Mil...   102.txt
..                                                 ...       ...
130  Dünyaya boynuna kadar borçla gelen masum bir y...    95.txt
131  kalbin ağlasada gülümse inadına\ndüşler takıp ...    96.txt
132  yağmurun sesine bak \naşka davet ediyor \ncama...    97.txt
133  Bu yazıya başlık koyamadım...o kadar üzgünüm k...    98.txt
134  O kadar üzgünüm ki..O kadar üzgünüm ki...Yaşan...    99.txt

[135 rows x 2 columns]

In [7]:
#Küçük Harfe Dönüştürme
train_d["Metinler"] = train_d["Metinler"].apply(lambda x: " ".join(x.lower() for x in x.split()))
#Noktalama İşaretlerini Silinmesi
train_d["Metinler"] =train_d["Metinler"].str.replace('[^\w\s]','')
#Sayıların Silinmesi
train_d["Metinler"] = train_d["Metinler"].str.replace('\d','')

In [8]:
!pip install -U textblob

Requirement already up-to-date: textblob in c:\users\asus\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in c:\users\asus\anaconda3\lib\site-packages (from textblob) (3.5)
Requirement already satisfied, skipping upgrade: click in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied, skipping upgrade: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (0.17.0)
Requirement already satisfied, skipping upgrade: tqdm in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.50.2)
Requirement already satisfied, skipping upgrade: regex in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2020.10.15)

In [9]:
# Textblob kütüphanesi üzerinden metinler translate() ile ingilizceye çevrildi.
# Correct() ile yazım hataları düzeltilip onun üzerinden sentiment() ile duygu analizi yapıldı.
# Son olarak polarity değeri alındı.

from textblob import TextBlob
train_d["sentiment"] = train_d["Metinler"].apply(lambda blob: TextBlob(blob).translate(to='en').correct().sentiment.polarity)

train_d["sentiment"]

0     -0.030303
1      0.131277
2      0.185116
3      0.134722
4      0.187767
         ...
130    0.020746
131    0.204545
132    0.400000
133   -0.343333
134   -0.078553
Name: sentiment, Length: 135, dtype: float64

In [10]:
train_d

                                              Metinler Dosya_adi  sentiment
0    bugün okulun  haftası başladı sonunda sınıfta ...     1.txt  -0.030303
1    merhabalar şu an çırağanın efsane tayfasının y...    10.txt   0.131277
2    istanbulun altini üstüne getirdik diyebilirim ...   100.txt   0.185116
3    hey hey o kadar mutluyum ki sınavlarım bitti y...   101.txt   0.134722
4     ocak  günü ilk yazımın yayınlandığı milliyet ...   102.txt   0.187767
..                                                 ...       ...        ...
130  dünyaya boynuna kadar borçla gelen masum bir y...    95.txt   0.020746
131  kalbin ağlasada gülümse inadına düşler takıp s...    96.txt   0.204545
132  yağmurun sesine bak aşka davet ediyor cama vur...    97.txt   0.400000
133  bu yazıya başlık koyamadımo kadar üzgünüm kial...    98.txt  -0.343333
134  o kadar üzgünüm kio kadar üzgünüm kiyaşanılan ...    99.txt  -0.078553

[135 rows x 3 columns]

In [11]:
# Polarity değeri 0'a eşitse belirsiz,
# 0'dan küçükse olumsuz,
# 0'dan büyükse olumlu olacak şekilde yeniden isimlendirildi.
train_d["sentiment"] = train_d["sentiment"].apply(lambda x: "Belirsiz" if x==0 else("Olumsuz" if x<0 else "Olumlu"))

In [12]:
train_d

                                              Metinler Dosya_adi sentiment
0    bugün okulun  haftası başladı sonunda sınıfta ...     1.txt   Olumsuz
1    merhabalar şu an çırağanın efsane tayfasının y...    10.txt    Olumlu
2    istanbulun altini üstüne getirdik diyebilirim ...   100.txt    Olumlu
3    hey hey o kadar mutluyum ki sınavlarım bitti y...   101.txt    Olumlu
4     ocak  günü ilk yazımın yayınlandığı milliyet ...   102.txt    Olumlu
..                                                 ...       ...       ...
130  dünyaya boynuna kadar borçla gelen masum bir y...    95.txt    Olumlu
131  kalbin ağlasada gülümse inadına düşler takıp s...    96.txt    Olumlu
132  yağmurun sesine bak aşka davet ediyor cama vur...    97.txt    Olumlu
133  bu yazıya başlık koyamadımo kadar üzgünüm kial...    98.txt   Olumsuz
134  o kadar üzgünüm kio kadar üzgünüm kiyaşanılan ...    99.txt   Olumsuz

[135 rows x 3 columns]

In [13]:
# Hangi kaydın hangi kategoriye ait olduğu dosyaya yazdırıldı.
kategori_train_d = train_d[["Dosya_adi","sentiment"]]
kategori_train_d.to_csv('sinif.txt')

In [14]:
kategori_train_d

    Dosya_adi sentiment
0       1.txt   Olumsuz
1      10.txt    Olumlu
2     100.txt    Olumlu
3     101.txt    Olumlu
4     102.txt    Olumlu
..        ...       ...
130    95.txt    Olumlu
131    96.txt    Olumlu
132    97.txt    Olumlu
133    98.txt   Olumsuz
134    99.txt   Olumsuz

[135 rows x 2 columns]

In [15]:
# Kayıtlar Üzerinde Temel Metin Ön İşlemleri Yapıldı.

#Stopwords
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords 
st_w = stopwords.words("turkish")
train_d["Metinler"] = train_d["Metinler"].apply(lambda x:" ".join(i for i in x.split() if i not in st_w))
#Tokenization
nltk.download("punkt")
!pip install textblob
import textblob
from textblob import TextBlob
train_d["Metinler"].apply(lambda x: TextBlob(x).words)
#Stemming
!pip install TurkishStemmer 
from TurkishStemmer import TurkishStemmer
stemmer = TurkishStemmer()
train_d["Metinler"] = train_d["Metinler"].apply(lambda x:" ".join(stemmer.stem(i) for i in  x.split()))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Requirement already satisfied: textblob in c:\users\asus\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\asus\anaconda3\lib\site-packages (from textblob) (3.5)
Requirement already satisfied: click in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (0.17.0)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.50.2)
Requirement already satisfied: regex in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2020.10.15)
Requirement already satisfied: TurkishStemmer in c:\users\asus\anaconda3\lib\site-packages (1.3)

In [16]:
train_d

                                              Metinler Dosya_adi sentiment
0    bugü okul hafta başl son sınıf mevcut tam olt ...     1.txt   Olumsuz
1    merhap an çırağa efsane tayfa yarı toplayabil ...    10.txt    Olumlu
2    istanbul altin üst getir diyebilir sabah amca ...   100.txt    Olumlu
3    hey hey kadar mutl sınav bitt yem eder mutl kı...   101.txt    Olumlu
4    ocak gün ilk yaz yayınlandık milliyet blog say...   102.txt    Olumlu
..                                                 ...       ...       ...
130  dünya boyn kadar borç gelen masum bir yavru st...    95.txt    Olumlu
131  kalbi ağlasa gül inat düş takıp saç yür umut k...    96.txt    Olumlu
132  yağmur ses bak aşk davet ediyor cam vuran daml...    97.txt    Olumlu
133  yazı başlık koyamadımo kadar üzg kiallah sabır...    98.txt   Olumsuz
134  kadar üzg kio kadar üzg kiyaşanılan anı yaşadı...    99.txt   Olumsuz

[135 rows x 3 columns]

In [17]:
# Multinomial Navie Bayes

In [18]:
# Eğitim ve test verisi oluşturuldu.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_d["Metinler"], train_d["sentiment"], test_size = 0.10, random_state = 0)

In [19]:
# TF-IDF İşlemi Yapıldı.
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
x_train_idf = vectorizer.fit_transform(X_train)
x_test_idf = vectorizer.transform(X_test)

In [20]:
# Eğitim ve test verisi üzerinde Multinominal Naive Bayes Çalıştırıldı.

from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn import metrics

MNB = MultinomialNB()
nb = MNB.fit(x_train_idf, y_train)

predicted = MNB.predict(x_test_idf)
accuracy_score = metrics.accuracy_score(y_test,predicted)

In [21]:
#Doğruluk değeri.
accuracy_score

0.7857142857142857

In [28]:
# Gelen yeni kelimenin hangi kategoriye hangi olasılıkla ait olduğunu bulabiliriz.
# Üç farklı kategori olduğu için üç farklı olasılık değeri çıkacaktır.
# Bu üç farklı olasılık değerinden hangisi daha yüksekse kelime o kategoriye aittir.
import numpy as np

new_word = ''

while new_word != 'quit':
    new_word = input("Bir kelime giriniz, çıkış için: 'quit' yazınız: ")
    if(new_word == 'quit'):
        break
    else:
        m = np.array([new_word])
        m_vector = vectorizer.transform(m)
        m_vector  = m_vector.toarray()
        print(MNB.predict(m_vector))
        print("p={}".format(MNB.predict_proba(m_vector)))

Bir kelime giriniz, çıkış için: 'quit' yazınız:  güzel

['Olumlu']
p=[[0.00362916 0.82196103 0.17440981]]

Bir kelime giriniz, çıkış için: 'quit' yazınız:  quit